/*** sectioning elements ***/

body {
  width: 100%;
}

header {
    font-family: 'Merriweather', sans-serif;
}

main {

}

footer {
  background-color: #dddddd;
}


nav {

}

section {

}

aside {

}


/**** content styles ***/

h1 {

}

h2 {
color: #08086b;
font-family: 'Exo 2', sans-serif;
}

h3 {

}

h4 {
font-family: 'News Cycle', sans-serif;
padding: 5px;
}

h5 {

}

h6 {

}

p {

}

blockquote {

}

ol {

}

caption{
  font-weight: bold;
  font-size: 30px;
}

ul {
  font-size: 30px;
  margin: 0;
  padding: 0;
  list-style: none;
}

li {
font-size: 20px;
padding: 5px;
}

table {
  width: 100%;
  max-width: 100%;
}

tr {
  padding: 4px;
}

tr.every-other{
  background-color: #FFFFFF;
}

th {
  background-color: #0101ff;
  color: #FFFFFF;
  padding: 4px;
}

td {
  padding: 4px;
}

footer a{
  color: #7d7e80;
  text-decoration: none;
}

.top{
  background-color: #0101ff;
  font-size: 65px;
  margin: 0px;
  position: relative;
}

.site-name {
  background-color: #0101ff;
  font-size: 65px;
  margin: 0px;
}

.site-name a:link,
.site-name a:visited {
  color: #FFFFFF;
  text-decoration: none;
}

.site-name a:hover,
.site-name a:active {
  color: #ff011d;
  text-decoration: none;
}

.navbar{
  font-size: 24px;
  background-color: #0101ff;
  color: #FFFFFF;
  padding-top: 20px;
}
.navbar a:link,
.navbar a:visited {
  color: #FFFFFF;
}

.navbar a:hover,
.navbar a:active {
  color: #ff011d;
  text-decoration: none;
}

.navbar-brand {
  font-size: 65px;
}

li.alt {
  background-color: #ff011d;
  color: white;
}

.white {
  color: #FFFFFF;
}

.red {
  color: #ff011d;
}

.blue {
  color: #0101ff;
}

.black {
  color: #000000;
}


.main-nav {
  padding-top: 15px;
}

.navbar-menu li{
  padding: 15px;
}

table:h1 {
  color: #4f2682;
}

.bold {
  font-weight: bold;
}
/*** image styles ***/

img  {

}

.space {
  padding: 15px;
}

.mission-statement {
  background-color: #ff011d;
}

.in-the-news {
  background-color: #0101ff;
}
/*** link styles ***/

a:link {

}

a:visited {

}

a:hover {

}

a:active {

}

table.shade-even-rows tbody tr:nth-child(even){
  background-color: #ff011d;
  color: #FFFFFF;
}

table a{
  color: #000000;
}

tr:nth-child(even) a{
  color:#FFFFFF;
}


@media (max-width: 600px) {
  table {
    max-width: 100%;
  }

  thead {
    display: none;
  }

  tr {
    display: block;
    margin: 5px 0;
    max-width: 100%;
    border: 1px solid #DDDDDD;
  }

  td {
    display: block;
    text-align: right;
  }

  td:before {
    content: attr(aria-label);
    float: left;
    font-weight: bold;
  }

  .site-name{
    font-size: 50px;
  }
}
